Options -Indexes
RewriteEngine On
RewriteBase /

<Files "razorpay-config.php">
  Require all denied
</Files>

RewriteCond %{HTTP_HOST} ^www\.chalodham\.in$ [NC]
RewriteRule ^ https://chalodham.in%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

DirectoryIndex index.html

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 30 days"
  ExpiresByType application/javascript "access plus 30 days"
  ExpiresByType image/jpeg "access plus 30 days"
  ExpiresByType image/png "access plus 30 days"
  ExpiresByType image/svg+xml "access plus 30 days"
</IfModule>
